### Walmart Sales Data

For the independent practice, we will analyze the weekly sales data from Walmart over a two year period from 2010 to 2012.

The data is again separated by store and by department, but we will focus on analyzing one store for simplicity.

The data includes:

- Store - the store number
- Dept - the department number
- Date - the week
- Weekly_Sales -  sales for the given department in the given store
- IsHoliday - whether the week is a special holiday week

In [2]:
import pandas as pd
import numpy as np

%matplotlib inline

#### Loading the data and setting the DateTimeIndex

In [3]:
data = pd.read_csv('../data/time_series_train.csv')
data['Date'] = pd.to_datetime(data['Date'])
data.set_index('Date', inplace=True)
data.head(100)

            Store  Dept  Weekly_Sales IsHoliday
Date
2010-02-05      1     1      24924.50     False
2010-02-12      1     1      46039.49      True
2010-02-19      1     1      41595.55     False
2010-02-26      1     1      19403.54     False
2010-03-05      1     1      21827.90     False
2010-03-12      1     1      21043.39     False
2010-03-19      1     1      22136.64     False
2010-03-26      1     1      26229.21     False
2010-04-02      1     1      57258.43     False
2010-04-09      1     1      42960.91     False
2010-04-16      1     1      17596.96     False
2010-04-23      1     1      16145.35     False
2010-04-30      1     1      16555.11     False
2010-05-07      1     1      17413.94     False
2010-05-14      1     1      18926.74     False
2010-05-21      1     1      14773.04     False
2010-05-28      1     1      15580.43     False
2010-06-04      1     1      17558.09     False
2010-06-11      1     1      16637.62     False
2010-06-18      1     1      16216.27     False
2010-06-25      1     1      16328.72     False
2010-07-02      1     1      16333.14     False
2010-07-09      1     1      17688.76     False
2010-07-16      1     1      17150.84     False
2010-07-23      1     1      15360.45     False
2010-07-30      1     1      15381.82     False
2010-08-06      1     1      17508.41     False
2010-08-13      1     1      15536.40     False
2010-08-20      1     1      15740.13     False
2010-08-27      1     1      15793.87     False
...           ...   ...           ...       ...
2011-06-10      1     1      15883.52     False
2011-06-17      1     1      14978.09     False
2011-06-24      1     1      15682.81     False
2011-07-01      1     1      15363.50     False
2011-07-08      1     1      16148.87     False
2011-07-15      1     1      15654.85     False
2011-07-22      1     1      15766.60     False
2011-07-29      1     1      15922.41     False
2011-08-05      1     1      15295.55     False
2011-08-12      1     1      14539.79     False
2011-08-19      1     1      14689.24     False
2011-08-26      1     1      14537.37     False
2011-09-02      1     1      15277.27     False
2011-09-09      1     1      17746.68      True
2011-09-16      1     1      18535.48     False
2011-09-23      1     1      17859.30     False
2011-09-30      1     1      18337.68     False
2011-10-07      1     1      20797.58     False
2011-10-14      1     1      23077.55     False
2011-10-21      1     1      23351.80     False
2011-10-28      1     1      31579.90     False
2011-11-04      1     1      39886.06     False
2011-11-11      1     1      18689.54     False
2011-11-18      1     1      19050.66     False
2011-11-25      1     1      20911.25      True
2011-12-02      1     1      25293.49     False
2011-12-09      1     1      33305.92     False
2011-12-16      1     1      45773.03     False
2011-12-23      1     1      46788.75     False
2011-12-30      1     1      23350.88      True

[100 rows x 4 columns]

#### Filter the dataframe to Store 1 sales and aggregate over departments to compute the total sales per department.

In [ ]:
# TODO

#### Plot the rolling_mean for `Weekly_Sales`. What general trends do you observe?

In [ ]:
# TODO

#### Compute the 1, 2, 52 autocorrelations for `Weekly_Sales` and/or create an autocorrelation plot.

In [ ]:
# TODO

In [ ]:
# TODO

In [ ]:
# TODO

#### Split the weekly sales data in a training and test set - using 75% of the data for training.  Remember this is not a typical test/train random split but rather splitting the time series data into chuncks chronologically.

In [ ]:
# TODO

#### Create an AR(1) model on the training data and compute the mean absolute error of the predictions.

In [ ]:
import statsmodels.api as sm
from sklearn.metrics import mean_absolute_error

In [ ]:
# TODO

#### Plot the residuals - where are their significant errors.

In [ ]:
# TODO

In [ ]:
# TODO

#### Compute an AR(2) model and an ARMA(2, 2) model - does this improve your mean absolute error on the held out set.

In [ ]:
# TODO

In [ ]:
# TODO

#### Finally, compute an ARIMA model to improve your prediction error - iterate on the p, q, and parameters comparing the model's performance.

In [ ]:
# TODO